doctype html
html
  head
    
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/models.js')
    script(src='/javascripts/shell.js')
  body

    block content
   
    